.screen-reader-text{
position:relative !important;
left:0px !important;
}
body, td, textarea, input, select {
font-family:"Monotype Corsiva",Georgia;
font-size:18px !important;
}

#favorite-actions a {
font-size:18px;
}

#poststuff h3, .metabox-holder h3 {
font-size:18px;
}

#dashboard_quick_press h4 {
font-family:"Monotype Corsiva",Georgia;
font-size:18px;
}

#dashboard_quick_press h4 label {
margin-right:20px;
}

#dashboard_quick_press #media-buttons {
font-size:15px;
}
.submit input, .button, input.button, .button-primary, input.button-primary, .button-secondary, input.button-secondary, .button-highlighted, input.button-highlighted, #postcustomstuff .submit input {
font-size:18px !important;
}

p, ul, ol, blockquote, input, select {
font-size:18px;
}

#adminmenu .wp-submenu a {
font-family:"Monotype Corsiva",Georgia;
font-size:18px;
}

#adminmenu a.menu-top, #adminmenu .wp-submenu-head {
font-family:"Monotype Corsiva",Georgia;
font-size:20px;
width: 60px;
min-width:6.7em;
}

.row-title {
font-size:18px !important;
font-weight:normal;
}

.widefat td p, .widefat td ol, .widefat td ul {
font-size:18px;
}

.widefat td, .widefat th {
font-size:18px;
}
#wphead h1 {
font-family:"Monotype Corsiva",Georgia;
}

#wphead #site-visit-button {
font-size:18px;
}
.subsubsub {
font-size:18px;
}
label {
font-size:18px;
}
form .forgetmenot label {
font-size:18px;
}

.button-primary {

font-family:"Monotype Corsiva",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}


.postbox p, .postbox ul, .postbox ol, .postbox blockquote, #wp-version-message {
font-size:18px;
}

#dashboard-widgets h4 {
font-family:"Monotype Corsiva","Times New Roman","Bitstream Charter",Times,serif;
font-size:18px;
}
.button, .submit input, .button-secondary{
background-image:none;
}
 input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"]{
background-color:#D54E21;
color:#FFFFFF;
}
.button, .button-secondary, .submit input{
background-color:#D54E21;
color:#FFFFFF;
}
.button:hover, .button-secondary:hover, .submit input:hover, input[type="button"]:hover, input[type="submit"]:hover {
border-color:#006400;
color:#FFD700;
}